

body {
  font-size: 14px;
  /*ナビゲーションバーを固定したため*/
  padding-top: 70px;
}

.navbar {
  border-radius: 0;
}

.row {
  margin-bottom: 50px;
}

.page-header {
  font-family: cursive;
}

.abstract {
  margin-bottom: 30px;
}

.pict {
  max-width: 300px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
}
